.admin_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px;

}

.admin_menu_left {
  max-width: 60%;
  display: flex;
  align-items: center;
}
.admin_menu_box_left_item > ul {
  padding: 0;
  display: flex;
}
.admin_box_log {
  width: 200px;
  margin-right: 20px;
}
.admin_logo_img {
  width: 100%;
}

.admin_menu_right > ul {
  display: flex;
}

.admin_menu_item {
  margin-right: 20px;
  color: white;
  position: relative;
}
.admin_menu_item:hover .admin_menu_dropdown {
  max-height: 300px;
  padding: 10px 10px;
}
.admin_menu_dropdown {
  position: absolute;
  background-color: #eeeeee;
  right: 0;
  padding: 0 10px;
  border-radius: 10px;
  min-width: 150px;
  color: var(--navy);
  max-height: 0;
  transition: all 0.2s;
  overflow: hidden;
}
.admin_menu_dropdown_item {
  margin-top: 10px;
  color: var(--navy);
  border-bottom: 1px solid rgb(192, 192, 192);
}
.dropdown_item_icon {
  color: var(--blue);
  margin-right: 10px;
}
.admin_menu_left_item {
  margin-right: 20px;
  color: white;
  display: block;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.admin_meni_userName {
  color: white;
  margin: 10px;
}
.admin_menu_left_item:hover,
.admin_menu_left_item.active {
  border-bottom: 3px solid var(--orange);
}

/* SIDEBAR */

.sideBar {
  height: 100%;
  min-width: 40px;
  /* width: 160px; */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--blue);
  overflow-x: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;

}

.sideBar_box {
  max-width: 40px;
  padding: 20px 10px;
  transition: all 0.2s;
  overflow: hidden;
  margin-top: 50px;
}
.sideBar_box.active {
  min-width: 180px;
  max-width: 200px;
  transition: all 0.2s;
  overflow: hidden;
}

.sideBar_box.active .sideBar_box{
  background-color: red;
  
}
.sideBar_box.active .sideBar_menu_item {
  width: 100%;
  transition: all 0.2s;

}

.sideBar_menu > ul {
  padding: 0;
  margin: 0;
}
.sideBar_menu_item {
  transition: all 0.2s;
  width: 0%;
  overflow: hidden;
  margin-top: 10px;
  background-color: white;
  padding: 0;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  position: relative;
  padding: 5px 0;
}
.sideBar_icon_item {
  padding: 0 3px;
  position: absolute;
  left: 5px;
  top: 5px;
  color: var(--blue);
}
.sideBar_menu_item > a > p {
  width: 100%;
  padding-left: 20px;
}
.sideBar_menu_item:hover ,.sideBar_menu_item.active {
  background-color: var(--orange);
  color: white;
}
.sideBar_menu_item:hover .sideBar_icon_item {
  color: white;
}
.sideBar_menu_item:hover .sideBar_sku {
  background-color: white;
  color: var(--orange);
}



.sideBar_sku {
  width: 100%;

  border-radius: 5px;
}

/* Before item of menu */
.sideBar_sku {
  background-color: var(--blue);
  position: absolute;
  left: 5px;
  width: 30px;
  font-size: 10px;
  color: white;
  /* height: 100%; */
  text-align: center;
  align-items: center;
  top: 5px;
}

.sideBar_menu_item:hover ,.sideBar_menu_item.active .booster_tunder::before{
  color: rgb(255, 255, 255);
}
.booster_tunder::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0e7";
  position: absolute;
  color: #1093b2;
  font-size: 22px;
  left: 0.5em;
  z-index: 3;
}

.sku_icon::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "SKU";
  position: absolute;
  color: #ffffff;
  font-size: 12px;
  left: 0.5em;
  background-color: var(--blue);
  padding: 5px;
  border-radius: 3px;
  z-index: 3;
}

.space_icon::before{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f200";
  position: absolute;
  color: #1093b2;
  font-size: 22px;
  left: 0.5em;
  z-index: 3;
}

.sideBar_menu_item:hover ,.sideBar_menu_item.active .space_icon::before{
  color: rgb(255, 255, 255);
}