
.calendar{
  font-size: 14px;
  width: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 5px;
  position: absolute;
  background-color: white;
  top: 25px;
  right: -70%;
  z-index: 10;
}
.calendar_title{
  padding: 5px;
  background-color: #F5F5F5;
}
.calendar_title>p{
  padding: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}
.calendar .day, .calendar_week {
  display: flex;
  /* gap: 5px; */
  margin: 0;
  text-align: center;
  justify-content: space-between;
  padding: 10px;
}
.day>div, .calendar_week_item{
  min-width: 30px;
  cursor: pointer;
  margin: 1px;

}
.calendar_grid{
  display: grid;
  grid-template-columns: 35% auto;
}
.calendar_menu>ul{
  padding: 10px 0;
  margin: 0;
}

.calendar_menu{
  padding: 0 10px;

}

.calendar_menu{
  border-right: 1px solid var(--lightGray);
}
.calendar_menu_later{
  border-bottom: 1px solid var(--lightGray);
}


.calendar_menu_item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.day_selected{
  background-color: #EE4D2D;
  color: white;
  border-radius: 5px;
}
.day_before{
  background-color: none;
  color: rgb(224, 224, 224);
}
.day_today{
  color: #EE4D2D;
}


.calendar_header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--lightGray);
  padding: 10px;
}
.calendar_previous, .calendar_next{
  cursor: pointer;
}
/* 
.calendar_week{
  display: flex;
} */
