.def_menu {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}

.def_logo_img {
  width: 100%;
  max-width: 250px;
}
.def_menu_right > ul {
  display: flex;
  align-items: center;
}

.def_menu_item {
  margin-right: 25px;
  cursor: pointer;
  color: var(--navy);
  font-weight: 600;
  position: relative;
}

/* DROPDOWN */
.def_dropdown {
  max-height: 0;
  transition:all 0.2s;
  overflow: hidden;
  position: absolute;
  background-color: #e4e2ea;
  border-radius: 10px;
  min-width: 150px;
  font-size: 14px;
  padding: 0 10px;

}
.def_dropdown_item:hover {
  color: var(--orange);
}

.def_dropdown > ul {
  padding: 0;
  margin: 0;
}
.def_dropdown_item {
  border-bottom: 1px solid rgb(192, 192, 192);
}

.def_menu_item_limk.active, .def_menu_item:hover > a {
  color: var(--orange);
}
.def_menu_item:hover .def_dropdown {
  overflow: hidden;
  transition:all 0.2s;
  height: auto;
  max-height: 300px;
  padding: 10px 10px;

}

.def_menu_img_th {
  width: 20px;
  vertical-align: middle;
}

@media only screen and (max-width: 1024px) {
  .def_menu {
    justify-content: center;
  }
}
@media only screen and (max-width: 480px) {
  .def_menu_item {
    display: none;
  }
  .def_log {
    width: 100%;
    text-align: center;
  }
}
