.view_p_box_title {
  display: flex;
  align-items: center;
  gap: 20px;
}

.view_p_box_menu > ul {
  display: flex;
  padding: 0;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.view_p_menu_item {
  background-color: var(--blue);
  color: white;
  max-width: 150px;
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
}

/* GRAPH RANK */
.view_p_box_ranking {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-between;

}
.view_p_box_ranking_graph{
  width:49%;
}
.view_p_box_ranking_graph>p{
  font-size: 24px;
}
.view_p_box_ranking_graph > ul {
  display: flex;
  gap: 30px;
  /* padding: 0; */

}

.view_p_box_menu_item {
  border-bottom: 2px solid transparent;
}
.view_p_box_menu_item:hover > a{
  border-bottom: 2px solid var(--orange);
  color: var(--orange);
}
